In [1]:
import pandas as pd

In [73]:
data = pd.read_csv('Cleaned.csv')

In [74]:
data.drop('Unnamed: 0', axis = 1, inplace = True)

In [75]:
data

,Weight,Category,Screen_size,Screen_type,Screen_resolution,CPU_Brand,CPU_series,CPU_model,RAM,Storage_amount,Storage_type,Storage_info,GPU_Brand,GPU_Model,OS,original_price,after_discount,persian_info,full_info,discount_percent
0,1.24,مک بوک,13.6,IPS or LED-backlit,1600 * 2560,Apple,M2,8core CPU with 4 performance cores and 4 effic...,8.0,524288.0,SSD,SSD NVMe,Apple,10 core,Apple Mac OS,74000000.0,73000000.0,لپ تاپ اپل 13.6 اینچی مدل Apple MacBook Air 20...,Apple MacBook Air 2022 Midnight MLY43 M2 8GB 5...,1.35
1,1.24,مک بوک,13.6,IPS or LED-backlit,1600 * 2560,Apple,M2,8core CPU with 4 performance cores and 4 effic...,8.0,524288.0,SSD,SSD NVMe,Apple,10 core,Apple Mac OS,74300000.0,73300000.0,لپ تاپ اپل 13.6 اینچی مدل Apple MacBook Air 20...,Apple MacBook Air 2022 Starlight MLY23 M2 8GB ...,1.35
2,1.24,مک بوک,13.6,IPS or LED-backlit,1600 * 2560,Apple,M2,8core CPU with 4 performance cores and 4 effic...,8.0,524288.0,SSD,SSD NVMe,Apple,10 core,Apple Mac OS,75300000.0,74300000.0,لپ تاپ اپل 13.6 اینچی مدل Apple MacBook Air 20...,Apple MacBook Air 2022 Space Gray MLXX3 M2 8GB...,1.33
3,1.75,نوت بوک (لپ تاپ),15.6,TFT or TN,1080 * 1920,INTEL,Core i3,I3-1115G4,20.0,524288.0,SSD,SSD NVMe,Intel,uhd,Dos,NaN,17270000.0,لپ تاپ لنوو 15.6 اینچی مدل Ideapad 3 پردازنده ...,Ideapad 3 Core i3 1115G4 20GB 512GB SSD Intel ...,0.00
4,1.60,مک بوک,14.2,IPS or LED-backlit,3024*1964,Apple,M1 Pro,M1 Pro with 8-core CPU,16.0,524288.0,SSD,NaN,Apple,M 16,Apple Mac OS,106000000.0,105000000.0,لپ تاپ اپل 14 اینچ مدل Mac Book Pro 14inch MKG...,Apple MacBook Pro 14‑inch MKGR3 M1 Pro 16GB 51...,0.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6100,2.19,نوت بوک (لپ تاپ),15.6,IPS or LED-backlit,768 * 1366,INTEL,Core i7,i7-6500U,8.0,2048.0,SATA,NaN,AMD Radeon,r5 m330,Dos,NaN,NaN,لپ تاپ اچ پی ای سی 170 با پردازنده i7,ac170ne Core i7 8GB 2TB 2GB Laptop,0.00
6101,1.11,آلترابوک,13.3,IPS or LED-backlit,1080 * 1920,INTEL,Core i5,i5-7200U,8.0,262144.0,SSD,حافظه خشک,Intel,hd graphics 620,Microsoft Windows 10,NaN,NaN,لپ تاپ اچ پی مدل Spectre 13T-V100 با پردازنده ...,Spectre 13T-V100 Core i5 8GB 256GB Intel Full ...,0.00
6102,2.29,نوت بوک (لپ تاپ),15.6,IPS or LED-backlit,768 * 1366,INTEL,Core i5,i5-6200U,6.0,1024.0,SATA,NaN,Nvidia Gforce,gt 940m,Dos,NaN,NaN,لپ تاپ اچ پی مدل ای بی 248 ان ای با پردازنده i5,Pavilion 15 ab248ne Core i5 6GB 1TB 4GB Laptop,0.00
6103,1.94,نوت بوک (لپ تاپ),14.0,IPS or LED-backlit,1080 * 1920,INTEL,Core i3,i3-5005U,6.0,1024.0,SATA,NaN,AMD Radeon,r5 m430,Windows X,NaN,NaN,لپ تاپ اچ پی مدل ای ام 099 با پردازنده i3 و صف...,am099nia Core i3 6GB 1TB 2GB Full HD Laptop,0.00
6104,2.04,نوت بوک (لپ تاپ),15.6,IPS or LED-backlit,1080 * 1920,INTEL,Core i5,i5-6200U,4.0,512000.0,SATA,NaN,AMD Radeon,r5 m430,Windows X,NaN,NaN,لپ تاپ اچ پی مدل ای وای 080 با پردازنده i5,ay080nia Core i5 4GB 500GB 2GB Full HD Laptop,0.00

In [76]:
data.isna().sum()

Weight                  0
Category                0
Screen_size             0
Screen_type           575
Screen_resolution      41
CPU_Brand               0
CPU_series            192
CPU_model             330
RAM                     0
Storage_amount          2
Storage_type            5
Storage_info         4293
GPU_Brand               6
GPU_Model               0
OS                      0
original_price       5787
after_discount       5699
persian_info            0
full_info               0
discount_percent        0
dtype: int64

In [77]:
data.Screen_type.fillna( 'null', inplace = True)
data.Screen_resolution.fillna('null', inplace = True)
data.CPU_series.fillna( 'null', inplace = True)
data.CPU_model.fillna('null', inplace = True)
data.Storage_amount.fillna( 0, inplace = True)
data.Storage_type.fillna('null', inplace = True)
data.Storage_info.fillna( 'null', inplace = True)
data.GPU_Brand.fillna( 'null', inplace = True)
data.original_price.fillna( 0, inplace = True)
data.after_discount.fillna( 0, inplace = True)

In [78]:
product_id_lst = list(range(1, data.shape[0]+1))
data['ID']=product_id_lst

# Category

In [79]:
category_lst = list(set(data.Category))
id_lst = list(range(1, len(category_lst)+1))
category_table = pd.DataFrame({'ID': id_lst,
                              'Category_Name': category_lst})

In [80]:
category_table

   ID     Category_Name
0   1  نوت بوک (لپ تاپ)
1   2          آلترابوک
2   3           میت بوک
3   4          کروم بوک
4   5            مک بوک

In [81]:
category_dic = dict()
for i in range(category_table.shape[0]):
    category_dic[category_table.Category_Name[i]] = category_table['ID'][i]

In [82]:
category_id_lst = list()
for i in range(data.shape[0]):
    cat = data.Category[i]
    category_id_lst.append(category_dic[cat])

In [83]:
data['Category_ID'] = category_id_lst

In [84]:
data.drop('Category', axis = 1, inplace = True)

# Screen_size

In [85]:
size_lst = list(set(data.Screen_size))
id_lst = list(range(1,len(size_lst)+1))
screen_size_table = pd.DataFrame({'ID': id_lst, 'Screen_Size': size_lst})

In [86]:
screen_size_table

    ID  Screen_Size
0    1         10.0
1    2         11.6
2    3         12.5
3    4         13.0
4    5         14.0
5    6         14.1
6    7         13.3
7    8         13.6
8    9         14.2
9   10         16.2
10  11         15.6
11  12         13.5
12  13         15.0
13  14         14.4
14  15         17.0
15  16         16.0
16  17         17.3
17  18         18.0
18  19         11.0
19  20         12.0
20  21         13.4
21  22         15.4
22  23         15.5
23  24         17.6
24  25         18.4

In [87]:
screen_size_dic = dict()
for i in range(screen_size_table.shape[0]):
    screen_size_dic[screen_size_table.Screen_Size[i]] = screen_size_table.ID[i]

In [88]:
screen_size_id_lst = list()
for i in range(data.shape[0]):
    sc = data.Screen_size[i]
    screen_size_id_lst.append(screen_size_dic[sc])

In [89]:
data['Screen_Size_ID'] = screen_size_id_lst

In [90]:
data.drop('Screen_size', axis = 1, inplace = True)

# Screen_type

In [91]:
screen_lst = list(set(data.Screen_type))
id_lst = list(range(1, len(screen_lst)+1))
screen_table = pd.DataFrame({'ID': id_lst,
                            'ScreenType_Name': screen_lst})

In [92]:
screen_table

   ID          ScreenType_Name
0   1                TFT or TN
1   2  Anti-Glare or True Life
2   3            HD or Full HD
3   4                4K or UHD
4   5                WV or SVA
5   6                     null
6   7                   Others
7   8             QHD or WUXGA
8   9       IPS or LED-backlit

In [93]:
screen_dic = dict()
for i in range(screen_table.shape[0]):
    screen_dic[screen_table.ScreenType_Name[i]] = screen_table['ID'][i]

In [94]:
screen_id_lst = list()
for i in range(data.shape[0]):
    sc = data.Screen_type[i]
    screen_id_lst.append(screen_dic[sc])

In [95]:
data['Screen_Type_ID'] = screen_id_lst

In [96]:
data.drop('Screen_type', axis = 1, inplace = True)

# Screen_Resolution

In [97]:
screen_lst = list(set(data.Screen_resolution))
id_lst = list(range(1, len(screen_lst)+1))
screen_resolution_table = pd.DataFrame({'ID': id_lst,
                            'ScreenResolution_Name': screen_lst})

In [98]:
screen_resolution_table

    ID ScreenResolution_Name
0    1           1440 * 2560
1    2           2256 * 1504
2    3           1800 * 2880
3    4           2160 * 4095
4    5           1080 * 1920
5    6           1600 * 2560
6    7            900 * 1440
7    8            800 * 1280
8    9            900 * 1600
9   10           1440 * 2304
10  11             3024*1964
11  12           2000 * 3000
12  13             1200*1920
13  14             3456*2234
14  15            768 * 1366
15  16           1620 * 2880
16  17           1800 * 3200
17  18                  null
18  19           2160 * 3840
19  20             2560*1920

In [99]:
screen_dic = dict()
for i in range(screen_resolution_table.shape[0]):
    screen_dic[screen_resolution_table.ScreenResolution_Name[i]] = screen_resolution_table['ID'][i]

In [101]:
screen_id_lst = list()
for i in range(data.shape[0]):
    sc = data.Screen_resolution[i]
    screen_id_lst.append(screen_dic[sc])

In [102]:
data['Screen_Resolution_ID'] = screen_id_lst

In [103]:
data.drop('Screen_resolution', axis = 1, inplace = True)

# CPU_brand

In [104]:
cpu_lst = list(set(data.CPU_Brand))
id_lst = list(range(1, len(cpu_lst)+1))
cpu_brand_table = pd.DataFrame({'ID': id_lst,
                         'CPU_Brand': cpu_lst})

In [105]:
cpu_brand_table

   ID CPU_Brand
0   1     Apple
1   2     INTEL
2   3       AMD

In [107]:
cpu_dic = dict()
for i in range(cpu_brand_table.shape[0]):
    cpu_dic[cpu_brand_table.CPU_Brand[i]] = cpu_brand_table['ID'][i]

In [108]:
cpu_id_lst = list()
for i in range(data.shape[0]):
    cpu = data.CPU_Brand[i]
    cpu_id_lst.append(cpu_dic[cpu])

In [109]:
data['CPU_Brand_ID'] = cpu_id_lst

In [111]:
data.drop('CPU_Brand', axis = 1, inplace = True)

# GPU_brand

In [144]:
cpu_lst = list(set(data.GPU_Brand))
id_lst = list(range(1, len(cpu_lst)+1))
gpu_brand_table = pd.DataFrame({'ID': id_lst,
                         'GPU_Brand': cpu_lst})

In [145]:
gpu_brand_table

   ID      GPU_Brand
0   1         Nvidia
1   2            AMD
2   3          Intel
3   4          Apple
4   5     AMD Radeon
5   6           null
6   7  Nvidia Gforce

In [147]:
cpu_dic = dict()
for i in range(gpu_brand_table.shape[0]):
    cpu_dic[gpu_brand_table.GPU_Brand[i]] = gpu_brand_table['ID'][i]

In [148]:
gpu_id_lst = list()
for i in range(data.shape[0]):
    cpu = data.GPU_Brand[i]
    gpu_id_lst.append(cpu_dic[cpu])

In [149]:
data['GPU_Brand_ID'] = gpu_id_lst

In [150]:
data.drop('GPU_Brand', axis = 1, inplace = True)

# CPU_Series

In [112]:
cpu_lst = list(set(data.CPU_series))
id_lst = list(range(1, len(cpu_lst)+1))
cpu_series_table = pd.DataFrame({'ID': id_lst,
                         'CPU_Series': cpu_lst})

In [113]:
cpu_series_table

    ID     CPU_Series
0    1         Athlon
1    2  Bristol Ridge
2    3        Core i9
3    4        Pentium
4    5             M2
5    6        Ryzen 7
6    7             M1
7    8        Ryzen 9
8    9        Core-M3
9   10           Xeon
10  11           Atom
11  12        Core i5
12  13        Celeron
13  14        Core i7
14  15        Carrizo
15  16   Stoney Ridge
16  17         M1 Pro
17  18           null
18  19        Core i3
19  20        Ryzen 5
20  21         M2 MAX
21  22         Core-M
22  23         M2 Pro
23  24        Ryzen 3
24  25         M1 Max

In [114]:
cpu_dic = dict()
for i in range(cpu_series_table.shape[0]):
    cpu_dic[cpu_series_table.CPU_Series[i]] = cpu_series_table['ID'][i]

In [116]:
cpu_id_lst = list()
for i in range(data.shape[0]):
    cpu = data.CPU_series[i]
    cpu_id_lst.append(cpu_dic[cpu])

In [117]:
data['CPU_Series_ID'] = cpu_id_lst

In [118]:
data.drop('CPU_series', axis = 1, inplace = True)

# CPU_model

In [120]:
cpu_lst = list(set(data.CPU_model))
id_lst = list(range(1, len(cpu_lst)+1))
cpu_model_table = pd.DataFrame({'ID': id_lst,
                         'CPU_Model': cpu_lst})

In [121]:
cpu_model_table

      ID                CPU_Model
0      1                i5-10300H
1      2                i7-4712MQ
2      3            Celeron-N3060
3      4            Celeron-N4020
4      5                 i5-3337U
..   ...                      ...
293  294            Ryzen 9 4900H
294  295                  A6-7000
295  296  M1 Pro with 10-core CPU
296  297                 i3-7130U
297  298                i7-12650H

[298 rows x 2 columns]

In [122]:
cpu_dic = dict()
for i in range(cpu_model_table.shape[0]):
    cpu_dic[cpu_model_table.CPU_Model[i]] = cpu_model_table['ID'][i]

In [123]:
cpu_id_lst = list()
for i in range(data.shape[0]):
    cpu = data.CPU_model[i]
    cpu_id_lst.append(cpu_dic[cpu])

In [124]:
data['CPU_Models_ID'] = cpu_id_lst

In [125]:
data.drop('CPU_model', axis = 1, inplace = True)

In [130]:
data.drop('Storage_info', axis = 1 , inplace = True)

# GPU_model

In [154]:
cpu_lst = list(set(data.GPU_Model))
id_lst = list(range(1, len(cpu_lst)+1))
gpu_model_table = pd.DataFrame({'ID': id_lst,
                         'GPU_Model': cpu_lst})

In [155]:
gpu_model_table

      ID               GPU_Model
0      1    ‎amd radeon graphics
1      2                  mx 230
2      3              radeon 520
3      4      arc a370m graphics
4      5                 r6 m255
..   ...                     ...
761  762                 r5 m230
762  763        geforce gtx 1650
763  764               rx vega 7
764  765  iris plus graphics 655
765  766               rtx™ 3060

[766 rows x 2 columns]

In [156]:
cpu_dic = dict()
for i in range(gpu_model_table.shape[0]):
    cpu_dic[gpu_model_table.GPU_Model[i]] = gpu_model_table['ID'][i]

In [157]:
cpu_id_lst = list()
for i in range(data.shape[0]):
    cpu = data.GPU_Model[i]
    cpu_id_lst.append(cpu_dic[cpu])

In [158]:
data['GPU_Models_ID'] = cpu_id_lst

In [159]:
data.drop('GPU_Model', axis = 1, inplace = True)

# Storage_type

In [134]:
storage_lst = list(set(data.Storage_type))
id_lst = list(range(1, len(storage_lst)+1))
storage_table = pd.DataFrame({'ID': id_lst,
                         'Storage_Type': storage_lst})

In [135]:
storage_table

   ID Storage_Type
0   1         null
1   2       Hybrid
2   3          SSD
3   4         eMMC
4   5          HDD
5   6         SATA
6   7    SSD, SATA

In [137]:
str_dic = dict()
for i in range(storage_table.shape[0]):
    str_dic[storage_table.Storage_Type[i]] = storage_table['ID'][i]

In [138]:
str_id_lst = list()
for i in range(data.shape[0]):
    strr = data.Storage_type[i]
    str_id_lst.append(str_dic[strr])

In [139]:
data['Storage_Type_ID'] = str_id_lst

In [143]:
data.drop('Storage_type', axis = 1, inplace = True)

# OS

In [161]:
os_lst = list(set(data.OS))
id_lst = list(range(1, len(os_lst)+1))
os_table = pd.DataFrame({'ID': id_lst,
                        'OS_Name': os_lst})

In [162]:
os_table

    ID                   OS_Name
0    1       Microsoft Windows 7
1    2  Microsoft Windows 10 Pro
2    3          Win 8.1 Original
3    4                       Dos
4    5      Microsoft Windows 11
5    6     Microsoft Windows 8.1
6    7       Microsoft Windows 8
7    8              Apple Mac OS
8    9   Microsoft Windows 8 Pro
9   10                 Windows Y
10  11                 Windows X
11  12   Microsoft Windows 7 Pro
12  13      Microsoft Windows 10

In [163]:
os_dic = dict()
for i in range(os_table.shape[0]):
    os_dic[os_table.OS_Name[i]] = os_table.ID[i]

In [164]:
os_id_lst = list()
for i in range(data.shape[0]):
    os = data.OS[i]
    os_id_lst.append(os_dic[os])

In [165]:
data['OS_ID'] = os_id_lst

In [166]:
data.drop('OS', axis = 1, inplace = True)

In [167]:
data.columns

Index(['Weight', 'RAM', 'Storage_amount', 'original_price', 'after_discount',
       'persian_info', 'full_info', 'discount_percent', 'ID', 'Category_ID',
       'Screen_Size_ID', 'Screen_Type_ID', 'Screen_Resolution_ID',
       'CPU_Brand_ID', 'CPU_Series_ID', 'CPU_Models_ID', 'Storage_Type_ID',
       'GPU_Brand_ID', 'GPU_Models_ID', 'OS_ID'],
      dtype='object')

# Product_table

In [168]:
product_table = pd.DataFrame({'ID': data.ID,
                              'Persian_info': data.persian_info,
                              'Full_info': data.full_info,
                              'Category_ID': data.Category_ID,
                             'Weight': data.Weight,
                              'OS_ID': data.OS_ID,
                              'Screen_Size_ID': data.Screen_Size_ID,
                              'Screen_Type_ID': data.Screen_Type_ID,
                              'Screen_Resolution_ID': data.Screen_Resolution_ID,
                              'CPU_Brand_ID': data.CPU_Brand_ID,
                              'CPU_Series_ID': data.CPU_Series_ID,
                              'CPU_Models_ID':data.CPU_Models_ID,
                              'GPU_Brand_ID': data.GPU_Brand_ID,
                              'GPU_Models_ID': data.GPU_Models_ID,
                             'Storage_Amount': data.Storage_amount,
                              'Storage_Type_ID': data.Storage_Type_ID,
                             'Price': data.original_price,
                             'Price_after_discount': data.after_discount,
                              'Discount': data.discount_percent
                              
                             })

In [169]:
product_table

,ID,Persian_info,Full_info,Category_ID,Weight,OS_ID,Screen_Size_ID,Screen_Type_ID,Screen_Resolution_ID,CPU_Brand_ID,CPU_Series_ID,CPU_Models_ID,GPU_Brand_ID,GPU_Models_ID,Storage_Amount,Storage_Type_ID,Price,Price_after_discount,Discount
0,1,لپ تاپ اپل 13.6 اینچی مدل Apple MacBook Air 20...,Apple MacBook Air 2022 Midnight MLY43 M2 8GB 5...,5,1.24,8,8,9,6,1,5,255,4,180,524288.0,3,74000000.0,73000000.0,1.35
1,2,لپ تاپ اپل 13.6 اینچی مدل Apple MacBook Air 20...,Apple MacBook Air 2022 Starlight MLY23 M2 8GB ...,5,1.24,8,8,9,6,1,5,255,4,180,524288.0,3,74300000.0,73300000.0,1.35
2,3,لپ تاپ اپل 13.6 اینچی مدل Apple MacBook Air 20...,Apple MacBook Air 2022 Space Gray MLXX3 M2 8GB...,5,1.24,8,8,9,6,1,5,255,4,180,524288.0,3,75300000.0,74300000.0,1.33
3,4,لپ تاپ لنوو 15.6 اینچی مدل Ideapad 3 پردازنده ...,Ideapad 3 Core i3 1115G4 20GB 512GB SSD Intel ...,1,1.75,4,11,1,5,2,19,283,3,26,524288.0,3,0.0,17270000.0,0.00
4,5,لپ تاپ اپل 14 اینچ مدل Mac Book Pro 14inch MKG...,Apple MacBook Pro 14‑inch MKGR3 M1 Pro 16GB 51...,5,1.60,8,9,9,11,1,17,285,4,181,524288.0,3,106000000.0,105000000.0,0.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6100,6101,لپ تاپ اچ پی ای سی 170 با پردازنده i7,ac170ne Core i7 8GB 2TB 2GB Laptop,1,2.19,4,11,9,15,2,14,244,5,248,2048.0,6,0.0,0.0,0.00
6101,6102,لپ تاپ اچ پی مدل Spectre 13T-V100 با پردازنده ...,Spectre 13T-V100 Core i5 8GB 256GB Intel Full ...,2,1.11,13,7,9,5,2,12,267,3,657,262144.0,3,0.0,0.0,0.00
6102,6103,لپ تاپ اچ پی مدل ای بی 248 ان ای با پردازنده i5,Pavilion 15 ab248ne Core i5 6GB 1TB 4GB Laptop,1,2.29,4,11,9,15,2,12,107,7,78,1024.0,6,0.0,0.0,0.00
6103,6104,لپ تاپ اچ پی مدل ای ام 099 با پردازنده i3 و صف...,am099nia Core i3 6GB 1TB 2GB Full HD Laptop,1,1.94,11,5,9,5,2,19,103,5,665,1024.0,6,0.0,0.0,0.00
6104,6105,لپ تاپ اچ پی مدل ای وای 080 با پردازنده i5,ay080nia Core i5 4GB 500GB 2GB Full HD Laptop,1,2.04,11,11,9,5,2,12,107,5,665,512000.0,6,0.0,0.0,0.00

# # DataBase

In [170]:
import mysql.connector

In [171]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="a*7EE166B4")
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE competitor_1")

In [172]:

mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="a*7EE166B4",
  database="competitor_1")
mycursor = mydb.cursor()

In [173]:
def insert(sql, df):
    cols = list(df.columns)
    rec = list()
    for i in range(df.shape[0]):
        rec = list()
        for c in cols:
            col_type = str(df[c].dtype)
            if col_type == 'int64':
                r = int(df[c][i])
            elif col_type == 'float64':
                r = float(df[c][i])
            else:
                r = df[c][i]
            rec.append(r)
        record = tuple(rec)
        mycursor.execute(sql, record)
    mydb.commit()

# category

In [176]:
mycursor.execute('create table Category(ID int primary key, Category_Name varchar(128))')

In [177]:
sql = 'insert into Category(ID, Category_Name) values(%s, %s)'
insert(sql, category_table)

# screen_size_table

In [178]:
mycursor.execute('create table Screen_Size(ID int primary key, Screen_Size decimal(3,1))')

In [179]:
sql = 'insert into Screen_Size(ID, Screen_Size) values(%s, %s)'
insert(sql, screen_size_table)

# Screen_type

In [180]:
mycursor.execute('create table Screen_Type(ID int primary key, Screen_Type varchar(128))')

In [181]:
sql = 'insert into Screen_Type(ID, Screen_Type) values(%s, %s)'
insert(sql, screen_table)

# Screen_resolution

In [183]:
mycursor.execute('create table Screen_Resolution(ID int primary key, Screen_Type varchar(128))')

In [184]:
sql = 'insert into Screen_Resolution() values(%s, %s)'
insert(sql, screen_resolution_table)

# CPU_Brand

In [185]:
mycursor.execute('create table CPU_Brand(ID int primary key, CPU_Brand varchar(128))')

In [186]:
sql = 'insert into CPU_Brand() values(%s, %s)'
insert(sql, cpu_brand_table)

# GPU_Brand

In [187]:
mycursor.execute('create table GPU_Brand(ID int primary key, GPU_Brand varchar(128))')

In [188]:
sql = 'insert into GPU_Brand() values(%s, %s)'
insert(sql, gpu_brand_table)

# CPU_Series

In [189]:
mycursor.execute('create table CPU_Series(ID int primary key, CPU_Series varchar(128))')

In [190]:
sql = 'insert into CPU_Series() values(%s, %s)'
insert(sql, cpu_series_table)

# CPU_Model

In [191]:
mycursor.execute('create table CPU_Model(ID int primary key, CPU_Model varchar(128))')

In [192]:
sql = 'insert into CPU_Model() values(%s, %s)'
insert(sql, cpu_model_table)

# GPU_Model

In [193]:
mycursor.execute('create table GPU_Model(ID int primary key, GPU_Model varchar(128))')

In [194]:
sql = 'insert into GPU_Model() values(%s, %s)'
insert(sql, gpu_model_table)

# Storage_Type

In [195]:
mycursor.execute('create table Storage_Type(ID int primary key, Storage_Type varchar(128))')

In [196]:
sql = 'insert into Storage_Type() values(%s, %s)'
insert(sql, storage_table)

# OS

In [197]:
mycursor.execute('create table OS(ID int primary key, OS_Type varchar(128))')

In [198]:
sql = 'insert into OS() values(%s, %s)'
insert(sql, os_table)

# Product

In [210]:
product_table.describe()

,ID,Category_ID,Weight,OS_ID,Screen_Size_ID,Screen_Type_ID,Screen_Resolution_ID,CPU_Brand_ID,CPU_Series_ID,CPU_Models_ID,GPU_Brand_ID,GPU_Models_ID,Storage_Amount,Storage_Type_ID,Price,Price_after_discount,Discount
count,6105.000000,6105.000000,6105.000000,6105.000000,6105.000000,6105.000000,6105.000000,6105.000000,6105.000000,6105.000000,6105.000000,6105.000000,6.105000e+03,6105.000000,6.105000e+03,6.105000e+03,6105.000000
mean,3053.000000,1.112203,2.050787,7.759214,10.583456,7.578870,8.225061,2.106143,13.734152,160.015397,5.331695,367.464701,2.228851e+06,3.888780,2.369517e+06,3.019192e+06,0.045877
std,1762.506028,0.621552,0.446506,3.513316,2.948658,2.443271,4.878114,0.339903,3.800986,82.470165,2.079723,222.880475,5.687068e+07,1.647185,1.263918e+07,1.439098e+07,0.261579
min,1.000000,1.000000,0.920000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000e+00,1.000000,0.000000e+00,0.000000e+00,0.000000
25%,1527.000000,1.000000,1.780000,4.000000,11.000000,6.000000,5.000000,2.000000,12.000000,106.000000,3.000000,169.000000,1.024000e+03,3.000000,0.000000e+00,0.000000e+00,0.000000
50%,3053.000000,1.000000,2.100000,10.000000,11.000000,9.000000,5.000000,2.000000,14.000000,176.000000,7.000000,369.000000,2.621440e+05,3.000000,0.000000e+00,0.000000e+00,0.000000
75%,4579.000000,1.000000,2.300000,11.000000,11.000000,9.000000,15.000000,2.000000,14.000000,225.000000,7.000000,559.000000,1.311744e+06,6.000000,0.000000e+00,0.000000e+00,0.000000
max,6105.000000,5.000000,5.500000,13.000000,25.000000,9.000000,20.000000,3.000000,25.000000,298.000000,7.000000,766.000000,2.562622e+09,7.000000,3.309990e+08,3.308890e+08,6.140000

In [211]:
mycursor.execute('create table Product2(\
ID int primary key,\
Persian_info varchar(256),\
Full_info varchar(256),\
Category_ID int,\
Weight decimal(4,2),\
OS_ID int,\
Screen_Size_ID int,\
Screen_Type_ID int,\
Screen_Resolution_ID int,\
CPU_Brand_ID int,\
CPU_Series_ID int,\
CPU_Models_ID int,\
GPU_Brand_ID int,\
GPU_Models_ID int,\
Storage_Amount bigint,\
Storage_Type_ID int,\
Price int, Price_after_discount int, Discount decimal(4,2),\
FOREIGN KEY (Category_ID) REFERENCES Category(ID),\
FOREIGN KEY (OS_ID) REFERENCES OS(ID),\
FOREIGN KEY (Screen_Size_ID) REFERENCES Screen_Size(ID),\
FOREIGN KEY (Screen_Type_ID) REFERENCES Screen_Type(ID),\
FOREIGN KEY (Screen_Resolution_ID) REFERENCES Screen_Resolution(ID),\
FOREIGN KEY (CPU_Brand_ID) REFERENCES CPU_Brand(ID),\
FOREIGN KEY (CPU_Series_ID) REFERENCES CPU_Series(ID),\
FOREIGN KEY (CPU_Models_ID) REFERENCES CPU_Model(ID),\
FOREIGN KEY (GPU_Brand_ID) REFERENCES GPU_Brand(ID),\
FOREIGN KEY (GPU_Models_ID) REFERENCES GPU_Model(ID),\
FOREIGN KEY (Storage_Type_ID) REFERENCES Storage_Type(ID))')

In [212]:
sql = 'insert into Product2() values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
insert(sql, product_table)