In [1]:
import pandas as pd
import numpy as np
import re
import jdatetime

In [2]:
data = pd.read_csv('sales_data.csv')

In [3]:
data.isna().sum()

Order_ID               0
Branch                 0
Order_Date             0
Order_Priority         0
Manufacturer           0
Model_Name             0
Category               0
Screen_Size            0
Screen                 0
CPU                    0
RAM                    0
Storage                0
GPU                    0
OS                     0
OS_Version        108092
Weight                 0
Price                  0
Quantity               0
Discount               0
Total_Price            0
Profit                 0
Ship_Duration          0
dtype: int64

In [4]:
year_lst = list()
month_lst = list()
day_lst = list()
for date in data.Order_Date:
    l = date.split(sep = '-')
    year_lst.append(int(l[0]))
    month_lst.append(int(l[1]))
    day_lst.append(int(l[2]))
    
date_df = pd.DataFrame({'year': year_lst,
                       'month': month_lst,
                       'day': day_lst})

In [5]:
Date_lst = list()
for i in range(data.shape[0]):
    gregorian_date = jdatetime.date(year_lst[i], month_lst[i], day_lst[i]).togregorian()
    Date_lst.append(gregorian_date)

In [6]:
data['Date'] = Date_lst

# type correction

In [7]:
weight_lst = list()
ram_lst = list()
os_lst = list()
screen_lst = list()

for i in range(data.shape[0]):
    w = (data.Weight[i]).split(sep='k')[0]
    weight_lst.append(float(w))
    
    r = (data.RAM[i]).replace('GB','')
    ram_lst.append(int(r))
    
    os = data.OS[i]
    if os == 'macOS':
        os = 'Mac OS'
    os_lst.append(os)
    
    sc = (data.Screen_Size[i]).replace('"','')
    screen_lst.append(float(sc))

In [8]:
data['weight'] = weight_lst
data['screen_size'] = screen_lst
data['os'] = os_lst
data['ram'] = ram_lst

# manufacturer

In [9]:
manufacturer_lst = list(set(data.Manufacturer))
id_lst = list(range(1, len(manufacturer_lst)+1))
manufacturer_table = pd.DataFrame({'ID': id_lst,
                                  'Manufacturer_Name': manufacturer_lst})

In [10]:
manufacturer_table

    ID Manufacturer_Name
0    1              Asus
1    2            Lenovo
2    3           Samsung
3    4                HP
4    5              Acer
5    6           Fujitsu
6    7              Dell
7    8            Google
8    9                LG
9   10             Razer
10  11            Xiaomi
11  12           Toshiba
12  13             Chuwi
13  14               MSI
14  15         Microsoft
15  16             Apple
16  17              Vero
17  18            Huawei
18  19          Mediacom

In [11]:
manufacturer_dic = dict()
for i in range(manufacturer_table.shape[0]):
    manufacturer_dic[manufacturer_table.Manufacturer_Name[i]] = manufacturer_table['ID'][i]

In [12]:
manufacturer_id_lst = list()
for i in range(data.shape[0]):
    m = data.Manufacturer[i]
    manufacturer_id_lst.append(manufacturer_dic[m])

In [13]:
data['Manufacturer_ID'] = manufacturer_id_lst

# category

In [14]:
category_lst = list(set(data.Category))
id_lst = list(range(1, len(category_lst)+1))
category_table = pd.DataFrame({'ID': id_lst,
                              'Category_Name': category_lst})

In [15]:
category_table

   ID       Category_Name
0   1  2 in 1 Convertible
1   2            Notebook
2   3         Workstation
3   4             Netbook
4   5              Gaming
5   6           Ultrabook

In [16]:
category_dic = dict()
for i in range(category_table.shape[0]):
    category_dic[category_table.Category_Name[i]] = category_table['ID'][i]

In [17]:
category_id_lst = list()
for i in range(data.shape[0]):
    cat = data.Category[i]
    category_id_lst.append(category_dic[cat])

In [18]:
data['Category_ID'] = category_id_lst

# Screen type

In [19]:
screen_lst = list(set(data.Screen))
id_lst = list(range(1, len(screen_lst)+1))
screen_table = pd.DataFrame({'ID': id_lst,
                            'ScreenType_Name': screen_lst})

In [20]:
screen_table

    ID                                ScreenType_Name
0    1      IPS Panel Full HD / Touchscreen 1920x1080
1    2                   IPS Panel Quad HD+ 3200x1800
2    3                IPS Panel 4K Ultra HD 3840x2160
3    4                          Touchscreen 2256x1504
4    5                    IPS Panel Full HD 1920x1200
5    6             IPS Panel Retina Display 2736x1824
6    7                          Touchscreen 2400x1600
7    8             IPS Panel Retina Display 2880x1800
8    9  IPS Panel Touchscreen / 4K Ultra HD 3840x2160
9   10  IPS Panel 4K Ultra HD / Touchscreen 3840x2160
10  11                                       1440x900
11  12                                      1920x1080
12  13                    IPS Panel Full HD 1920x1080
13  14               Touchscreen / Quad HD+ 3200x1800
14  15               Quad HD+ / Touchscreen 3200x1800
15  16                          4K Ultra HD 3840x2160
16  17                IPS Panel Touchscreen 1920x1200
17  18                 IPS Panel Touchscreen 1366x768
18  19                            IPS Panel 2560x1440
19  20                             Quad HD+ 3200x1800
20  21                                       1366x768
21  22                                       1600x900
22  23                    IPS Panel Full HD 2160x1440
23  24                     IPS Panel Full HD 1366x768
24  25                          Touchscreen 2560x1440
25  26                              Full HD 1920x1080
26  27             IPS Panel Retina Display 2304x1440
27  28                Full HD / Touchscreen 1920x1080
28  29                Touchscreen / Full HD 1920x1080
29  30                   IPS Panel Quad HD+ 2560x1440
30  31                           Touchscreen 1366x768
31  32     IPS Panel Quad HD+ / Touchscreen 3200x1800
32  33                                      2560x1440
33  34                    IPS Panel Full HD 2560x1440
34  35                IPS Panel Touchscreen 2400x1600
35  36                             IPS Panel 1366x768
36  37            Touchscreen / 4K Ultra HD 3840x2160
37  38                IPS Panel Touchscreen 2560x1440
38  39            4K Ultra HD / Touchscreen 3840x2160
39  40             IPS Panel Retina Display 2560x1600

In [21]:
screen_dic = dict()
for i in range(screen_table.shape[0]):
    screen_dic[screen_table.ScreenType_Name[i]] = screen_table['ID'][i]

In [22]:
screen_id_lst = list()
for i in range(data.shape[0]):
    sc = data.Screen[i]
    screen_id_lst.append(screen_dic[sc])

In [23]:
data['Screen_Type_ID'] = screen_id_lst

# screen_size

In [27]:
size_lst = list(set(data.screen_size))
id_lst = list(range(1,len(size_lst)+1))
screen_size_table = pd.DataFrame({'ID': id_lst, 'Screen_Size': size_lst})

In [28]:
screen_size_table

    ID  Screen_Size
0    1         14.1
1    2         10.1
2    3         11.6
3    4         12.0
4    5         13.3
5    6         14.0
6    7         15.6
7    8         13.9
8    9         17.3
9   10         15.0
10  11         13.0
11  12         13.5
12  13         12.5
13  14         15.4
14  15         17.0
15  16         11.3
16  17         18.4
17  18         12.3

In [38]:
screen_size_dic = dict()
for i in range(screen_size_table.shape[0]):
    screen_size_dic[screen_size_table.Screen_Size[i]] = screen_size_table.ID[i]

In [41]:
screen_size_id_lst = list()
for i in range(data.shape[0]):
    sc = data.screen_size[i]
    screen_size_id_lst.append(screen_size_dic[sc])

In [42]:
data['Screen_Size_ID'] = screen_size_id_lst

# CPU-GPU extraction func.

In [45]:
def extract_info(cpu_name):
   
    brand, model, speed = None, None, None

    # Intel CPUs
    match_core = re.match(r"(?i)Intel\s+Core\s+([^\s]+)\s*([^\s]+)?\s*(\d+(?:\.\d+)?)GHz", cpu_name)
    if match_core:
        brand = "Intel"
        model = f"Core {match_core.group(1)}"
        speed = match_core.group(3)
        if match_core.group(2):
            model += " " + match_core.group(2)
        return brand, model, speed

    match_celeron = re.match("(?i)Intel\s+Celeron\s+(Dual|Quad) Core\s+([^\s]+)\s*(\d+(?:\.\d+)?)GHz", cpu_name)
    if match_celeron:
        brand = "Intel"
        model = f"Celeron {match_celeron.group(1)} Core {match_celeron.group(2)}"
        speed = match_celeron.group(3)
        return brand, model, speed

    match_pentium = re.match(r"(?i)Intel\s+Pentium\s+(Dual|Quad) Core\s+([^\s]+)\s*(\d+(?:\.\d+)?)GHz", cpu_name)
    if match_pentium:
        brand = "Intel"
        model = f"Pentium {match_pentium.group(1)} Core {match_pentium.group(2)}"
        speed = match_pentium.group(3)
        return brand, model, speed

    match_atom = re.match(r"(?i)Intel\s+Atom\s+([^\s]+)\s*(\d+(?:\.\d+)?)GHz", cpu_name)
    if match_atom:
        brand = "Intel"
        model = f"Atom {match_atom.group(1)}"
        speed = match_atom.group(2)
        return brand, model, speed

    match_xeon = re.match(r"(?i)Intel\s+Xeon\s+([^\s]+)\s*([^\s]+)?\s*(\d+(?:\.\d+)?)GHz", cpu_name)
    if match_xeon:
        brand = "Intel"
        model = f"Xeon {match_xeon.group(1)}"
        speed = match_xeon.group(3)
        if match_xeon.group(2):
            model += " " + match_xeon.group(2)
        return brand, model, speed

    # AMD CPUs
    match_amd = re.match(r"(?i)AMD\s+([^\s]+)\s*([^\s]+)?\s*(\d+(?:\.\d+)?)GHz", cpu_name)
    if match_amd:
        brand = "AMD"
        model = match_amd.group(1)
        speed = match_amd.group(3)
        if match_amd.group(2):
            model += " " + match_amd.group(2)
        return brand, model, speed

    # Samsung products
    match_samsung = re.match(r"(?i)Samsung\s+([^\s]+)\s*([^\s]+)?\s*(\d+(?:\.\d+)?)GHz", cpu_name)
    if match_samsung:
        brand = "Samsung"
        model = match_samsung.group(1)
        speed = match_samsung.group(3)
        if match_samsung.group(2):
            model += " " + match_samsung.group(2)
        return brand, model, speed

    return brand, model, speed

In [46]:
data[['CPU_Brand', 'CPU_Model', 'CPU_Speed']] = data['CPU'].apply(lambda x: pd.Series(extract_info(x)))

In [47]:
data[['GPU_Brand', 'GPU_Kind', 'GPU_Model']] = data['GPU'].str.split(expand=True, n=2)

In [48]:
data.isna().sum()

Order_ID                0
Branch                  0
Order_Date              0
Order_Priority          0
Manufacturer            0
Model_Name              0
Category                0
Screen_Size             0
Screen                  0
CPU                     0
RAM                     0
Storage                 0
GPU                     0
OS                      0
OS_Version         108092
Weight                  0
Price                   0
Quantity                0
Discount                0
Total_Price             0
Profit                  0
Ship_Duration           0
Date                    0
weight                  0
screen_size             0
os                      0
ram                     0
Manufacturer_ID         0
Category_ID             0
Screen_Type_ID          0
Screen_Size_ID          0
CPU_Brand               0
CPU_Model               0
CPU_Speed               0
GPU_Brand               0
GPU_Kind                0
GPU_Model            1480
dtype: int64

# CPU

In [49]:
cpu_lst = list(set(data.CPU))
id_lst = list(range(1, len(cpu_lst)+1))
cpu_table = pd.DataFrame({'ID': id_lst,
                         'CPU_Name': cpu_lst})

In [50]:
cpu_table[['CPU_Brand', 'CPU_Model', 'CPU_Speed']] = cpu_table['CPU_Name'].apply(lambda x: pd.Series(extract_info(x)))

In [51]:
cpu_table

,ID,CPU_Name,CPU_Brand,CPU_Model,CPU_Speed
0,1,Intel Core i5 1.6GHz,Intel,Core i5 1.,6
1,2,AMD E-Series 7110 1.8GHz,AMD,E-Series 7110,1.8
2,3,Intel Celeron Dual Core N3060 1.6GHz,Intel,Celeron Dual Core N3060,1.6
3,4,AMD A6-Series A6-9220 2.5GHz,AMD,A6-Series A6-9220,2.5
4,5,Intel Atom Z8350 1.92GHz,Intel,Atom Z8350,1.92
...,...,...,...,...,...
113,114,Intel Core i7 6920HQ 2.9GHz,Intel,Core i7 6920HQ,2.9
114,115,Intel Core M 6Y54 1.1GHz,Intel,Core M 6Y54,1.1
115,116,AMD A10-Series A10-9620P 2.5GHz,AMD,A10-Series A10-9620P,2.5
116,117,Intel Core i5 8250U 1.6GHz,Intel,Core i5 8250U,1.6
117,118,Intel Core M m3 1.2GHz,Intel,Core M m3,1.2

In [52]:
cpu_dic = dict()
for i in range(cpu_table.shape[0]):
    cpu_dic[cpu_table.CPU_Name[i]] = cpu_table['ID'][i]

In [53]:
cpu_id_lst = list()
for i in range(data.shape[0]):
    cpu = data.CPU[i]
    cpu_id_lst.append(cpu_dic[cpu])

In [54]:
data['CPU_ID'] = cpu_id_lst

# GPU

In [55]:
gpu_lst = list(set(data.GPU))
id_lst = list(range(1, len(gpu_lst)+1))
gpu_table = pd.DataFrame({'ID': id_lst,
                         'GPU_Name': gpu_lst})

In [56]:
gpu_table[['GPU_Brand', 'GPU_Kind', 'GPU_Model']] = gpu_table['GPU_Name'].str.split(expand=True, n=2)

In [57]:
gpu_table.fillna('null', inplace = True)
gpu_table

      ID                 GPU_Name GPU_Brand GPU_Kind      GPU_Model
0      1    Intel HD Graphics 400     Intel       HD   Graphics 400
1      2       Nvidia Quadro M620    Nvidia   Quadro           M620
2      3      Nvidia Quadro M520M    Nvidia   Quadro          M520M
3      4       AMD Radeon R5 M315       AMD   Radeon        R5 M315
4      5       Nvidia GTX 980 SLI    Nvidia      GTX        980 SLI
..   ...                      ...       ...      ...            ...
105  106   Intel HD Graphics 620      Intel       HD  Graphics 620
106  107   AMD Radeon R2 Graphics       AMD   Radeon    R2 Graphics
107  108      Nvidia GeForce 940M    Nvidia  GeForce           940M
108  109   Intel HD Graphics 6000     Intel       HD  Graphics 6000
109  110  Nvidia GeForce GTX 1050    Nvidia  GeForce       GTX 1050

[110 rows x 5 columns]

In [58]:
gpu_dic = dict()
for i in range(gpu_table.shape[0]):
    gpu_dic[gpu_table.GPU_Name[i]] = gpu_table.ID[i]

In [59]:
gpu_id_lst = list()
for i in range(data.shape[0]):
    gpu = data.GPU[i]
    gpu_id_lst.append(gpu_dic[gpu])

In [60]:
data['GPU_ID'] = gpu_id_lst

# OS

In [61]:
os_lst = list(set(data.os))
id_lst = list(range(1, len(os_lst)+1))
os_table = pd.DataFrame({'ID': id_lst,
                        'OS_Name': os_lst})

In [62]:
os_table

   ID    OS_Name
0   1     Mac OS
1   2    Android
2   3    Windows
3   4      No OS
4   5  Chrome OS
5   6      Linux

In [63]:
os_dic = dict()
for i in range(os_table.shape[0]):
    os_dic[os_table.OS_Name[i]] = os_table.ID[i]

In [65]:
os_id_lst = list()
for i in range(data.shape[0]):
    os = data.os[i]
    os_id_lst.append(os_dic[os])

In [66]:
data['OS_ID'] = os_id_lst

# OS version

In [67]:
data.OS_Version.fillna('null', inplace = True)
os_ver_lst = list(set(data.OS_Version))
id_lst = list(range(1, len(os_ver_lst)+1))
os_version_table = pd.DataFrame({'ID': id_lst,
                                'OS_Version': os_ver_lst})

In [68]:
os_version_table

   ID OS_Version
0   1       null
1   2       10 S
2   3          X
3   4         10
4   5          7

In [69]:
os_ver_dic = dict()
for i in range(os_version_table.shape[0]):
    os_ver_dic[os_version_table.OS_Version[i]] = os_version_table.ID[i]

In [70]:
os_ver_id_lst = list()
for i in range(data.shape[0]):
    os_v = data.OS_Version[i]
    os_ver_id_lst.append(os_ver_dic[os_v])

In [71]:
data['OS_Version_ID'] = os_ver_id_lst

#  correcting storage

In [72]:
ssd_lst = list()
hdd_lst = list()
hybrid_lst = list()
for i in range(data.shape[0]):
    storage = data.Storage[i].split(sep = '+')
    if len(storage) == 1:
        if 'SSD' in storage[0]:
            ssd_lst.append(storage[0].split(sep = ' ')[0])
            hdd_lst.append(0)
            hybrid_lst.append(0)
        elif 'HDD' in storage[0]:
            hdd_lst.append(storage[0].split(sep = ' ')[0])
            ssd_lst.append(0)
            hybrid_lst.append(0)
        elif 'Flash' in storage[0]:
            ssd_lst.append(storage[0].split(sep = ' ')[0])
            hdd_lst.append(0)
            hybrid_lst.append(0)
        elif 'Hybrid' in storage[0]:
            hybrid_lst.append(storage[0].split(sep = ' ')[0])
            ssd_lst.append(0)
            hdd_lst.append(0)
    else:
        stor1 = storage[0]
        stor2 = storage[1]
        st1 = storage[0].split(sep = ' ')[0]
        st2 = (storage[1].strip()).split(sep = ' ')[0]
        if 'SSD' in stor1:
            ssd_lst.append(st1)
            if 'SSD' in stor2:
                ssd_lst[i] += ' '
                ssd_lst[i] += st2
        elif 'SSD' in stor2:
            ssd_lst.append(st2)   
        elif 'Flash' in stor1:
            ssd_lst.append(st1)
        elif 'Flash' in stor2:
            ssd_lst.append(st2)
        else:
            ssd_lst.append(0)
        
  
        if 'HDD' in stor1:
            hdd_lst.append(st1)
            if 'HDD' in stor2:
                hdd_lst[i] += ' '
                hdd_lst[i] += st2
        elif 'HDD' in stor2:
            hdd_lst.append(st2)
        else:
            hdd_lst.append(0)
            
        if 'Hybrid' in stor1:
            hybrid_lst.append(st1)
        elif 'Hybrid' in stor2:
            hybrid_lst.append(st2)
        else:
            hybrid_lst.append(0)

In [73]:
storage_df = pd.DataFrame({'storage': data.Storage,
                          'SSD': ssd_lst,
                          'HDD': hdd_lst,
                          'Hybrid': hybrid_lst})

In [74]:
def convert(st):
    if 'TB' in st:
        a = int(st.replace('TB',''))*1000
    if 'GB' in st:
        a = int(st.replace('GB',''))
    return a

In [75]:
def storage_int(stor):
    if stor == 0:
        re = 0
    else:
        stor_l = stor.split(sep = ' ')
        if len(stor_l) == 2:
            st1 = convert(stor_l[0])
            st2 = convert(stor_l[1])
            re = st1 + st2
        else:
            st = stor
            re = convert(st)
    return re

In [76]:
def hybrid(hyb):
    s = int((1/4)*(convert(hyb)))
    h = convert(hyb) - s
    return [s, h]

In [77]:
SSD_lst = list()
HDD_lst = list()
for i in range(storage_df.shape[0]):
    ssd = storage_df.SSD[i]
    hdd = storage_df.HDD[i]
    hyb = storage_df.Hybrid[i]
    SSD_lst.append(storage_int(ssd))
    HDD_lst.append(storage_int(hdd))
    if hyb != 0:
        lst = hybrid(hyb)
        SSD_lst[i] += lst[0]
        HDD_lst[i] += lst[1]

In [78]:
storage_df['new ssd'] = SSD_lst
storage_df['new hdd'] = HDD_lst

In [79]:
#storage_df.to_csv('storage.csv')

In [80]:
data['SSD'] = SSD_lst
data['HDD'] = HDD_lst

# Product_table

In [81]:
product_table_1 = pd.DataFrame({'Model_Name': data.Model_Name,
                             'Manufacturer_ID': data.Manufacturer_ID,
                             'Category_ID': data.Category_ID,
                             'Screen_Size_ID': data.Screen_Size_ID,
                             'Screen_Type_ID': data.Screen_Type_ID,
                             'RAM': data.ram,
                             'CPU_ID': data.CPU_ID,
                             'GPU_ID': data.GPU_ID,
                             'SSD_Storage': data.SSD,
                             'HDD_Storage': data.HDD,
                             'Weight': data.weight,
                             'OS_ID': data.OS_ID,
                             'OS_Version_ID': data.OS_Version_ID})

In [82]:
product_table_1.duplicated().sum()

1015830

In [83]:
product_cols = list(product_table_1.columns)
product_table = product_table_1.drop_duplicates(subset = product_cols, keep = 'first', inplace = False)

In [84]:
n = product_table.shape[0]
product_id_lst = list(range(1, n+1))
product_table['ID'] = product_id_lst

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1612\2963345922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_table['ID'] = product_id_lst

In [85]:
product_table

,Model_Name,Manufacturer_ID,Category_ID,Screen_Size_ID,Screen_Type_ID,RAM,CPU_ID,GPU_ID,SSD_Storage,HDD_Storage,Weight,OS_ID,OS_Version_ID,ID
0,Vostro 3568,7,2,7,26,8,48,6,256,0,2.18,3,4,1
1,Yoga 720-13IKB,2,1,5,1,8,48,10,256,0,1.30,3,4,2
2,IdeaPad Y700-15ISK,2,2,7,13,8,96,49,0,1000,2.60,3,4,3
3,Inspiron 5370,7,6,5,13,8,57,75,256,0,1.40,3,4,4
4,Aspire E5-576G,5,2,7,26,4,48,104,256,0,2.23,3,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42041,XPS 15,7,2,7,9,8,60,54,256,0,2.04,3,4,1247
42351,15-bs018nq (i3-6006U/4GB/500GB/FHD/No,4,2,7,26,4,101,90,0,500,2.10,4,1,1248
44770,Alienware 17,7,5,9,33,16,36,45,512,1000,4.36,3,4,1249
47963,Alienware 15,7,5,7,26,16,12,78,256,1000,3.21,3,4,1250
61944,250 G6,4,2,7,26,4,101,90,0,500,1.86,4,1,1251

# correction (product_id)

In [86]:
product_table.reset_index(inplace = True, drop = True)

In [87]:
product_dic = dict()
for i in range(product_table.shape[0]):
    k = product_table.Model_Name[i] + str(product_table.Manufacturer_ID[i]) + str(product_table.Category_ID[i]) + str(product_table.Screen_Size_ID[i]) + str(product_table.Screen_Type_ID[i]) + str(product_table.RAM[i]) + str(product_table.CPU_ID[i]) + str(product_table.GPU_ID[i]) + str(product_table.SSD_Storage[i]) + str(product_table.HDD_Storage[i]) + str(product_table.Weight[i]) + str(product_table.OS_ID[i]) + str(product_table.OS_Version_ID[i]) 
    product_dic[k] = product_table.ID[i]

In [88]:
product_id_lst = list()
for i in range(product_table_1.shape[0]):
    pr = product_table_1.Model_Name[i] + str(product_table_1.Manufacturer_ID[i]) + str(product_table_1.Category_ID[i]) + str(product_table_1.Screen_Size_ID[i]) + str(product_table_1.Screen_Type_ID[i]) + str(product_table_1.RAM[i]) + str(product_table_1.CPU_ID[i]) + str(product_table_1.GPU_ID[i]) + str(product_table_1.SSD_Storage[i]) + str(product_table_1.HDD_Storage[i]) + str(product_table_1.Weight[i]) + str(product_table_1.OS_ID[i]) + str(product_table_1.OS_Version_ID[i]) 
    product_id_lst.append(product_dic[pr])

In [89]:
data['Product_ID'] = product_id_lst

# Branch table

In [91]:
branch_lst = list(set(data.Branch))
id_lst = list(range(1, len(branch_lst)+1))
branch_table = pd.DataFrame({'ID': id_lst,
                            'Branch_Name': branch_lst})

In [92]:
branch_table

    ID Branch_Name
0    1  Kermanshah
1    2      Tabriz
2    3        Sari
3    4       Karaj
4    5      Zanjan
5    6     Mashhad
6    7       Rasht
7    8        Kish
8    9        Yazd
9   10     Isfahan
10  11      Shiraz
11  12    Orumiyeh
12  13       Ahvaz
13  14        Arak
14  15     Hamedan
15  16      Tehran

In [93]:
branch_dic = dict()
for i in range(branch_table.shape[0]):
    branch_dic[branch_table.Branch_Name[i]] = branch_table.ID[i]

In [94]:
branch_id_lst = list()
for i in range(data.shape[0]):
    br = data.Branch[i]
    branch_id_lst.append(branch_dic[br])

In [95]:
data['Branch_ID'] = branch_id_lst

# priority table

In [96]:
priority_lst = list(set(data.Order_Priority))
id_lst = list(range(1, len(priority_lst)+1))
priority_table = pd.DataFrame({'ID': id_lst, 'Priority_Name': priority_lst})

In [97]:
priority_table

   ID Priority_Name
0   1             M
1   2             H
2   3             C
3   4             L

In [98]:
priority_dic = {'H': 1,
               'C': 2,
               'L': 3,
               'M': 4}

In [99]:
priority_id_lst = list()
for i in range(data.shape[0]):
    pri = data.Order_Priority[i]
    priority_id_lst.append(priority_dic[pri])

In [100]:
data['Priority_ID'] = priority_id_lst

# Order table

In [101]:
order_table = pd.DataFrame({'Order_ID': data.Order_ID,
                           'Branch_ID': data.Branch_ID,
                            'Priority_ID': data.Priority_ID,
                           'Product_ID': data.Product_ID,
                           'Order_Date': data.Order_Date,
                            'Date': data.Date,
                            'Price': data.Price,
                           'Total_Price': data.Total_Price,
                            'Discount': data.Discount, 
                            'Quantity': data.Quantity,
                           'Profit': data.Profit,
                           'Ship_Duration': data.Ship_Duration})

In [103]:
order_table

,Order_ID,Branch_ID,Priority_ID,Product_ID,Order_Date,Date,Price,Total_Price,Discount,Quantity,Profit,Ship_Duration
0,0,15,1,1,1396-10-26,2018-01-16,3450000,3450000.0,0,1,250000,3
1,1,1,1,2,1394-04-21,2015-07-12,3400000,3400000.0,0,1,380000,2
2,2,7,4,3,1402-05-24,2023-08-15,44900000,44900000.0,0,1,5630000,5
3,3,1,1,4,1397-06-17,2018-09-08,12550000,12550000.0,0,1,1130000,3
4,4,4,3,5,1392-09-30,2013-12-21,2050000,2050000.0,0,1,180000,8
...,...,...,...,...,...,...,...,...,...,...,...,...
1017076,1017076,1,4,10,1395-11-06,2017-01-25,3800000,3800000.0,0,1,460000,4
1017077,1017077,13,4,745,1391-04-24,2012-07-14,1300000,1300000.0,0,1,120000,6
1017078,1017078,2,1,771,1399-05-18,2020-08-08,16700000,16700000.0,0,1,1700000,2
1017079,1017079,6,3,1054,1394-02-04,2015-04-24,3750000,3750000.0,0,1,420000,10
1017080,1017080,1,3,826,1390-11-06,2012-01-26,1050000,1050000.0,0,1,100000,9

# to_csv

In [105]:
manufacturer_table.to_csv('Manufacturer.csv')

In [106]:
category_table.to_csv('Category.csv')

In [107]:
screen_table.to_csv('Screen_type.csv')

In [108]:
screen_size_table.to_csv('Screen_Size.csv')

In [109]:
cpu_table.to_csv('CPU.csv')

In [110]:
gpu_table.to_csv('GPU.csv')

In [111]:
os_table.to_csv('OS.csv')

In [112]:
os_version_table.to_csv('OS_Version.csv')

In [114]:
product_table.to_csv('Product.csv')

In [115]:
branch_table.to_csv('Branch.csv')

In [116]:
priority_table.to_csv('Priority.csv')

In [117]:
order_table.to_csv('Order.csv')

In [118]:
data.to_csv('big_data.csv')